{
    email aidansjamai99@gmail.com
}

paper-trader.net {
    handle /api/* {
        reverse_proxy backend:8080
    }

    handle /* {
        reverse_proxy frontend:80 {
            header_up Accept-Encoding identity
        }
    }
}